$main-transition: 0.3s;
$maxMobile: 767px;
$minSmall: 768px;
$maxSmall: 991px;
$minMedium: 992px;
$minLarge: 1200px;
$gray-color: #ffffffbf;
$navy-color: #2c343e;
$light-blue-color: #def4fc;
$light-orange-color: #f7cc7e;
$dark-blue-color: #5258fe;
$dark-orange-color: #ff6c47;
$light-brown-color: #ecad79;
$golden-color: #fccb69;
$aqua-color: #66f0d4;
$blue-color: #477dfa;
$pink-color: #fdd6ba;
$bg-color: #070722;
